# Data Science Tools and Ecosystem

## Author
Melissa Vales

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Popular Languages used by Data Scientists
- Commonly Used Libraries used by Data Scientists
- Common Data Science Tools
- How to evaluate arithmetic expressions

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-learn

|Data Science Tools| 
| :------ | 
| Apache Spark | 
| TensorFlow | 
| Weka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335